@-moz-document domain("chatgpt.com")
  @import 'https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Noto+Color+Emoji&family=Rubik:wght@400;600&display=swap'
  @import 'user-variables'
  @import 'variables'
  @import 'code-themes'
  @import 'bloat'
  @import 'ui'
  @import 'chat'

  code.hljs *
    color unset

  applyCodeThemes()