.dark, html.ZnJ1aXRqdWljZQ.dark
	--text-primary shade(clr-text, 0%)
	--text-secondary shade(clr-text, 30%)
	--text-tertiary shade(clr-text, 40%)
	--text-quaternary shade(clr-text, 50%)
	--text-error #f93a37
	--main-surface-primary mix(clr-base, clr-tint, 97%)
	--main-surface-secondary mix(clr-base, clr-tint, 90%)
	--main-surface-tertiary mix(clr-base, clr-tint, 85%)
	--sidebar-surface-primary mix(clr-base, clr-tint, 100%)
	--sidebar-surface-secondary mix(clr-base, clr-tint, 97%)
	--sidebar-surface-tertiary mix(clr-base, clr-tint, 90%)
	--border-light alpha(clr-text, 0.1)
	--border-medium alpha(clr-text, 0.15)
	--border-heavy alpha(clr-text, 0.2)
	--border-xheavy alpha(clr-text, 0.25)

.dark .popover
	--text-primary shade(clr-text, 0%) !important
	--text-secondary shade(clr-text, 30%) !important
	--text-tertiary shade(clr-text, 40%) !important
	--text-quaternary shade(clr-text, 50%) !important
	--main-surface-primary mix(clr-base, clr-tint, 97%) !important
	--main-surface-secondary mix(clr-base, clr-tint, 90%) !important
	--main-surface-tertiary mix(clr-base, clr-tint, 85%) !important
	--sidebar-surface-primary mix(clr-base, clr-tint, 100%) !important
	--sidebar-surface-secondary mix(clr-base, clr-tint, 97%) !important
	--sidebar-surface-tertiary mix(clr-base, clr-tint, 90%) !important

.dark .dark\:border-gray-700
	border-color var(--border-medium)

button.dark\:bg-gray-700, div.dark\:bg-gray-700.text-left.p-5.bg-white.border-token-main-surface-tertiary.border.rounded-2xl.gap-1.flex-col.snap-center.min-w-\[min\(450px\,80vw\)\].w-full.flex.relative
	background var(--main-surface-secondary) !important
	border none

.btn.relative.btn-primary
	background var(--text-primary)

// sidebar
.flex-shrink-0.overflow-x-hidden.bg-token-sidebar-surface-primary
	visibility visible !important
	width 260px !important
	padding-top 1rem

.hover\:bg-token-sidebar-surface-secondary.juice\:font-normal.juice\:gap-2\.5.font-medium.px-2.bg-token-sidebar-surface-primary.rounded-lg.gap-2.items-center.h-10.flex.group
	.flex-shrink-0.w-6.h-6
		display none

.bg-token-main-surface-primary.font-semibold.p-2.h-14.z-10.justify-between.items-center.flex.mb-1\.5.juice\:p-3.top-0.sticky
	background transparent
	height fit-content

.flex-col.flex > button
	background transparent

// fonts
:host, html
	font-family font-text !important

code, pre
	font-family font-code !important

p > code
	font-family font-code !important
	background var(--main-surface-secondary) !important

// new chat btn
.md\:h-header-height.items-center.h-\[60px\].justify-between.flex > span.flex
	display none

.md\:h-header-height.items-center.h-\[60px\].justify-between.flex > div.flex
	min-width 100%
	padding 0 !important
	margin 0 !important
	> .flex
		padding 0 !important
		margin 0 !important
		> .enabled\:hover\:bg-token-sidebar-surface-secondary.focus-visible\:bg-token-sidebar-surface-secondary.disabled\:text-token-text-quaternary.focus-visible\:outline-0.text-token-text-secondary.px-2.rounded-lg.h-10
			background var(--main-surface-secondary)
			justify-content center
			margin 0
			border-radius 1rem
			display flex
			align-items center
			font-size 0.9rem !important
			min-width 100%

			&:hover
				background var(--main-surface-tertiary)

			> svg
				height 1.2rem

			&::before
				content 'New Chat'
				font-weight bold
				margin 0 0.5rem
				font-size 0.9rem

// profile button
.focus-visible\:outline-0.focus-visible\:bg-token-main-surface-secondary.hover\:bg-token-main-surface-secondary.rounded-lg.justify-center.items-center.w-10.h-10.flex
	border-radius 1000px
	height auto
	width auto
	background var(--main-surface-secondary)

	> div
		width 3rem
		height auto

	img
		width 100% !important
		height 100% !important

	&:hover
		filter brightness(1.1)

// Nav elements
nav .relative.mt-5.empty\:mt-0.empty\:hidden.juice\:first\:mt-0.juice\:last\:mb-5 ol li
	margin-bottom .5rem
	color var(--text-secondary) !important

	> div
		background var(--sidebar-surface-secondary)
		border-radius 1rem

ol li
	margin-top 0.5rem
	> div
		border-radius 1rem !important
		> div > span
			background transparent !important
	a
		background var(--sidebar-surface-secondary)
		color var(--text-secondary) !important
		padding-left 0.75rem !important
		border-radius 0.75rem !important

.hover\:bg-token-sidebar-surface-secondary.active\:opacity-90.rounded-lg.relative.group, .bg-token-sidebar-surface-secondary.active\:opacity-90.rounded-lg.relative.group
	background var(--sidebar-surface-secondary)
	border-radius 1rem !important
	margin-bottom .5rem
	color var(--text-secondary) !important
	padding-left 0.25rem

.absolute.bottom-0.top-0.to-transparent.ltr\:right-0.ltr\:bg-gradient-to-l.rtl\:left-0.rtl\:bg-gradient-to-r.from-token-sidebar-surface-primary.from-token-sidebar-surface-primary.can-hover\:group-hover\:from-token-sidebar-surface-secondary.w-8.from-0\%.can-hover\:group-hover\:w-20.can-hover\:group-hover\:from-60\%.juice\:can-hover\:group-hover\:w-10
	background linear-gradient(90deg, transparent, var(--sidebar-surface-secondary)) !important

.md\:px-\[60px\].empty\:hidden.text-token-text-secondary.text-xs.text-center.py-2.px-2.w-full.relative.lg\:mt-0.lg\:left-0.lg\:bottom-0.lg\:absolute
	opacity 0

// Scrollbars
*::-webkit-scrollbar:hover
	background-color rgba(100, 100, 100, .09)

*::-webkit-scrollbar-thumb:vertical
	background rgba(192, 255, 209, .5)
	-webkit-border-radius 100px

*::-webkit-scrollbar-thumb:vertical:active
	background rgba(100, 100, 100, .61)
	-webkit-border-radius 100px

*::-webkit-scrollbar
	width 0.5em
	overflow visible
	border-radius 4px
	-webkit-border-radius 4px

*::-webkit-scrollbar-track
	opacity 0
	-webkit-transition all .5s

*::-webkit-scrollbar-thumb
	overflow visible
	border-radius 4px
	background rgba(100, 100, 100, .2)
